/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: 'Montserrat', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 3em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}













html {
	font-family: 'Montserrat', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
	line-height: 1.5;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #3b3b3b;
	margin: 0;
}

h1, h2, h3, h4, a {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 2.5em;
	margin: 0.67em 0 0.2em 0;
	font-weight: 700;
}

a {
	text-decoration: none;
	color: #3b3b3b;
	-o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
	transition:.2s;
}

a:hover {
	color: #84d2eb;
	cursor: pointer;
}

section, footer {
	padding: 50px 100px;
	height: auto;
}

ul {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

a.scroll-top {
	text-align: center;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 9999;
	opacity: 0.8;
}

a.scroll-top:hover {
	opacity: 1;
	color: #212121;
}

@media (max-width: 768px) {
	section, footer, .copyright {
		font-size: 0.9em;
		padding: 10%;
	}
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.site-header {
	width: 100%;
	position: fixed;
	height: 90px;
	top: 0;
	z-index: 9999;
	font: 700 13px 'Montserrat', sans-serif;
	line-height: 90px;
	transition: all 0.4s ease;
	padding: 0 100px;
	box-sizing: border-box;
}

.shrink {
	background-color: #212121;
}

a.active {
	color: #84d2eb;
}

.logo {
	float: left;
	padding: 15px 0;
}

.menu {
	float: right;
	text-transform: uppercase;
}

.menu ul {
	margin: 0;
}

.menu li {
	list-style-type: none;
	float: left;
}

.menu a {
	padding: 0 15px;
	color: #fff;
}

.menu a:hover {
	color: #84d2eb;	
}

.toggle-nav {
	display: none;
}	

@media (max-width: 1030px) {
	.site-header {
		height: 90px;
		padding: 0 30px;
		background-color: #333333;
	}

	.site-branding img {
		    clip: rect(0px,60px,200px,0px);
    position: absolute;

	}
	.logo {
		padding: 25px 0;
	}

    .menu {
        position:relative;
        display:inline-block;
    }
 
    .menu ul.active {
        display:none;
    }
 
    .menu ul {
    	width: 170px;
        position:absolute;
        top:120%;
        right:0px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
    }
 
    .menu ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        right:22px;
        content:'';
        transform:translate(0%, -100%);
        border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-bottom:7px solid #303030;
    }
 
    .menu li {
    	line-height: 30px;
        padding: 10px 25px;
        float:none;
        display:block;
        border-bottom: 1px solid #404040;
    }
 	
    .menu li:last-child {
    	border-bottom: none;
    }

    .menu a {
        display:block;
    }
 
    .toggle-nav {
        padding: 0 20px;
        float:right;
        display:inline-block;
        background: #333333;
        color:#777;
        font-size:20px;
        transition:color linear 0.15s;
        line-height: 90px;
    }
 
    .toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color:#84d2eb;
    }
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Home */
#home {
	background: url('images/header.jpg') no-repeat fixed;
	background-size:cover;
	background-position: top;
	height: 100vh;
}

.home-content {
	text-align: center;
	padding-top: 150px;
	color: #fff;
}

.home-content h1 {
	font-size: 4em;
	line-height: 1;
}

.home-content p {
	font-size: 15px;
	width: 40%;
	padding-bottom: 50px;
	margin: 0 auto;
}

.cyan {
	color: #84d2eb;
}

.home-content p {
	font-size: 1.2em;	
}

@media (max-width: 768px) {
	#home {
		font-size: 0.7em;
	}
}

/* About */
#about img {
	width: 50%;
	margin: 0 auto;
	display: block;
}

.about-content h1 {
	color: #84d2eb;
}

@media (min-width: 768px) {
	#about {
		background: url('images/bg-about.png') no-repeat fixed;
		padding: 80px 100px;
	}
	#about img {
		width: 20%;
		float: left;
		padding-top: 30px;
	}
	.about-content {
		width: 75%;
		float: right;
	}
}
/* Hire Us */
#hire-us {
	text-align: center;
	background: url('images/bg-hire.jpg') no-repeat;
	background-size: cover;
	color: #fff;
}

#hire-us p {
	color: #e6e6e6;
}

.column {
	width: 27%;
	display: inline-block;
	vertical-align: top;
	padding: 20px 20px;
}

@media (max-width: 768px) {
	.column {
		width: 100%;
		padding: 20px 0;
	}
}
/* Services */
.diamond {
	background: url('images/diamond.png') no-repeat;
	width: 80px;
	height: 80px;
	top: -40px;
	margin-left: -40px;
	position: absolute;
	display: inline;
	background-size: cover;
}

#services {
	background: #333333;
	color: #fff;
	width: 100%;
	text-align: center;
	position: relative;
	padding: 0;
}

.services-img {
	width: 100%;
	height: 500px;
	background-image: url('images/services-feature.jpg');
	background-size: cover;
}

.services-heading {
	padding: 30px 10% 0 10%;
}

.services-heading, .slider  {
	text-align: left;
}

.services-heading h3 {
	font-weight: 400;
	color: #84d2eb;
	margin: 0;
}

.slider {
	padding-bottom: 30px;
}

ul.block p {
	margin-bottom: 25px;
	color: #e6e6e6;
}

ul.block h3 {
	color: #fff;
	font-weight: 700;
}

ul.block li {
	list-style-type: none;
	border-left: solid 2px #84d2eb;
	padding-left: 30px;
	color: #e6e6e6;
}

@media (min-width: 1030px) {
	.services-img {
		width: 50%;
		height: 700px;
		float: left;
	}
	.services-heading {
		width: 50%;
		float: right;
		text-align: left;
		padding: 30px 100px 0 100px;
		box-sizing: border-box;
	}
	.block h2 {
		margin: 0;
	}
	.slider {
		float: right;
		width: 50%;
		margin-top: 20px;
		padding: 0;
	}
	.scroll::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 10px;
		background-color: #2b2b2b;
	}
	.scroll::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
	border-radius: 10px;
	}
	.scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
	}
}

/* Ribbon */
.ribbon {
	background: url('images/ribbon.jpg') no-repeat fixed;
	background-size:cover;
	background-position:center;
	text-align: center;
	color: #fff;
	margin: 0 auto;
	padding-bottom: 80px;
}

.ribbon p {
	width: 38%;
	margin: 0 auto;
	padding-bottom: 30px;
}

/* Products */
#products {
	text-align: center;
	overflow: hidden;
	background-color: #fff;	
	text-align: center;
	padding: 60px 0 0 0;
}

#products h1 {
	color: #84d2eb;
}

ul#filterOptions {
	list-style-type: none;
	display: block;
	padding: 0;
}

ul#filterOptions a {
	font-family: 'Roboto', sans-serif;
}

ul#filterOptions li {
	display: inline-block;
	padding-right: 20px;
}

ul#filterOptions .active {
	font-weight: 700;
}

.ourHolder {
	margin: 70px 0;
	padding: 0;
}

.product-item {
	list-style-type: none;
	display: inline-block;
	margin: 0 10px 24px 10px;
}

.product-item img {
	display: block;
	height: auto;
	max-width: 100%;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.product-name {
	padding: 15px 0;
}

.product-name h3 {
	margin: 0;
}

.product-name p {
	margin: 0;
	font-size: 0.8em;
	color: #767676;
}

@media (max-width: 768px) {
	.product-item  {
		margin: 0;
	}

}
/* Contact */
#contact {
	text-align: center;
	position: relative;
	background: url('images/bg-contact.png') right no-repeat fixed;
}

#contact h1 {
	text-align: left;
}

.contact-details, .contact-form {
	text-align: left;
}

.contact-form {
	margin-top: 30px;
}

.contact-details ul li {
	margin: 8px 0;
}

input, textarea {
	width: 100%;
	padding: 10px 0 10px 10px;
	display: block;
	background-color: #fff;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #ededed;
}

textarea {
	height: 170px;
	margin-bottom: 30px;
}

a.button {
	color: #fff;
	background-color: #84d2eb;
	text-align: center;
	line-height: 40px;
	padding: 15px 25px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: 700;
	font-size: 18px;
}

a.button-white {
	color: #84d2eb;
	background-color: #fff;
} 

a.button-white:hover {
	background-color: #c9eaf8;
}

a.button:hover, a.sign-up:hover {
	color: #fff;
	background-color: #9ae2f9;
}
@media (min-width: 768px) {
	.contact-details, .contact-form {
		width: 40%;
		margin-right: 80px;
		float: left;
	}
}

/* Footer */
footer {
	background: #2b2b2b;
	overflow: hidden;
	color: #fff;
}

footer h3 {
	color: #84d2eb;
}

footer a {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.footer-content {
	padding-top: 20px;
}

.footer-content p, ul.footer-content li {
	color: #e6e6e6;
}

.footer-content ul {
	padding: 0;
}

ul.footer-news li {
	list-style-type: none;
	border-bottom: 1px solid #404040;
	padding: 8px 0;
}

.footer-content input {
	width: 65%;
	float: left;
	margin-right: 10px;
}

a.sign-up {
	text-align: center;
	padding: 9px;
	color: #fff;
	background-color: #84d2eb;
	width: 20%;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: 700;
	float: left;	
}

ul.social li {
	margin: 10px 0;
}

.copyright {
	display: block;
	background-color: #1c1c1c;
	bottom: 0;
	color: #4a4a4a;
}

#info {
	display: none;
}

@media (min-width: 768px) {
	.footer-content {
		width: 22%;
		float: left;
		padding: 0 3% 0 0;
	}
	#info {
		display: block;
	}
	.footer-content input, {
		width: 100%;
	}
	a.sign-up {
		width: 40%;
		margin: 10px 0;
	}
	.footer-content input, a.sign-up {
		float: none;
		display: block;
	}
	.copyright {
		padding: 25px 100px;
	}
}

/* Font Awesome */
i {
	padding-right: 15px;
}

.fa-angle-up {
	color: #fff; 
	padding: 0;
}

.social .fa-li, .contact-details .fa-li {
	text-align: left;
}
